tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
**/Session.vim
**/lazygit/state.yml
.zellij.swap.kdl
.zellij.kdl
**.zcompdump*
config/.config/easyeffects/db/easyeffectsrc
config/.config/easyeffects/db/rnnoiserc
