[user]
	name = Emmanuel Isenah
	email = emmanuelisenah@gmail.com
[init]
	defaultBranch = main
[color]
	ui = auto
[alias]
	coa = !git add -A && git commit -m
[url "https://"]
	insteadOf = git://
[core]
	editor = NVIM_APPNAME=LazyVim nvim
[fetch]
	prune = true
[pull]
	rebase = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
