[Unit]
Description=WayVNC server
After=graphical-session.target
BindsTo=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wayvnc -v -a -f 60 -g
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
